.hidden {
	display: none;
}
#note-container {
	width: 100%;
	/*overflow: wrap;*/
}
#node-id-input {
	width: 3em;
}
header {
	font-size: 3em;
	border-bottom: 1px solid grey;
}

/* Note */
#note-container > article {
	border: 1px solid black;
	width: 300px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	/*
	font-family: sans;
	font-size: 12px;
	*/
}
#note-container > article.note {
	background-color: lightYellow;
}
#note-container > article.error {
	background-color: pink;
}
#note-container > article.list {
	background-color: lightGreen;
}

#note-container > article > h1 { }
#note-container > article > p { }
#note-container > article > .note-footer > .id {
	float: right;
	color: grey;
	font-size: 10pt;
}

.checkbox-list > li {
	cursor: pointer;
	list-style-position: outside;
}
.checkbox-list > li.checked {
	text-decoration: line-through;
	color: gray;
}
/* TODO actually format this so it matches the other ones */
.checkbox-list > li.new-item {
	list-style: none;
}
.checkbox-list > li.new-item:before {
	/*＋*/
	content: "+";
	margin-left: -1em;
	margin-right: 0.5em;
}
.checkbox-list > li.new-item > form {
	margin: 0px;
	padding: 0px;
}
.checkbox-list > li.new-item input {
	margin-left: -3px;
}

input.seamless {
	border: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.checkbox-list form {
	display: inline;
}
