/* General stuff */
.hidden {
	display: none;
}
input.seamless, textarea.seamless {
	border: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#note-container {
	width: 100%;
}

/* Note */
#note-container > article {
	border: 1px solid black;
	width: 300px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	/*
	font-family: sans;
	font-size: 12px;
	*/
}

#note-container > article > .module > img {
	display: block;
	margin: auto;
}

#note-container > article > .module { }

#note-container > article > .module > p > textarea {
	width: 100%;
}

/*
 * Note type background
 * In the future this will probably be replaced
 * by a note by note color
 */
#note-container > article.note {
	background-color: lightYellow;
}
#note-container > article.error {
	background-color: pink;
}
#note-container > article.list {
	background-color: lightGreen;
}
#note-container > article.new-note {
	background-color: lightBlue;
}

#note-container > article > footer {
	border-top: 1px solid grey;
	margin-top: 1ex;
}

/* Note footer */
#note-container > article > footer > .id {
	float: right;
	color: grey;
	font-size: 10pt;
}



/* Note checkbox list */
.checkbox-list form {
	display: inline;
}

.checkbox-list > li {
	cursor: pointer;
	list-style-position: outside;
}
.checkbox-list > li.checked {
	text-decoration: line-through;
	color: gray;
}
.checkbox-list > li.new-item {
	list-style: none;
}
.checkbox-list > li.new-item:before {
	content: "+";
	margin-left: -1em;
	margin-right: 0.5em;
}
.checkbox-list > li.new-item > form {
	margin: 0px;
	padding: 0px;
}
.checkbox-list > li.new-item input {
	margin-left: -3px;
}
#note-container > article.new-note textarea {
	width: 100%;
	overflow: wrap;
}

