.hidden {
	display: none;
}
#note-container {
	width: 100%;
	/*overflow: wrap;*/
}
#node-id-input {
	width: 3em;
}
header {
	font-size: 3em;
	border-bottom: 1px solid grey;
}

/* Note */
#note-container > article {
	border: 1px solid black;
	width: 300px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	/*
	font-family: sans;
	font-size: 12px;
	*/
}
#note-container > article.note {
	background-color: lightYellow;
}
#note-container > article.error {
	background-color: pink;
}

#note-container > article > h1 { }
#note-container > article > p { }
#note-container > article >  .note-no {
	float: right;
	color: grey;
	font-size: 10pt;
}
